.cover__subtitle {
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    width: 29%;
    margin:  0 auto 0 auto;
    text-align: center;
    z-index: 1;
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        margin: 0 auto;
        width: 38%;
    }
    
}
@media screen and (max-width: 768px) {
    .cover__subtitle {
        width: 48%;
        margin: 0 204px;
        line-height: 1.22;
    }
    
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        width: 65%;
        margin: 0 auto;
        font-size: 3.4vw;
        line-height: 1.2;
    }
    
}
@media screen and (max-width: 320px) {
    .cover__subtitle {
        width: 80%;
        font-size: 14px;
        line-height: 1.12;
    }
    
}




