.cover__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    margin:  0 412px 0 412px;
    text-align: center;
    z-index: 1;
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        margin: 0 auto;
        width: 36%;
    }
    
}
@media screen and (max-width: 768px) {
    .cover__subtitle {
        margin: 0 204px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.2;
    }
    
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        width: 65%;
        font-weight: 400;
        font-size: 3.4vw;
        line-height: 1.2;
    }
    
}
@media screen and (max-width: 320px) {
    .cover__subtitle {
        width: 85%;
        margin: 0 auto;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.1;
    }
    
}




