.lead__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    margin: 0 280px 32px 280px;
    text-align: center;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .lead__title {
        margin: 0 24px 32px 24px;

    }
}