.lead__subtitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.1;
    margin: 0 320px 64px 320px;
    text-align: center;
}
@media screen and (max-width: 1024px) {
    .lead__subtitle {
        margin: 0 192px 56px 192px;
    }
}
@media screen and (max-width: 768px) {
    .lead__subtitle {
        margin: 0 64px 56px 64px;
    }
}
@media screen and (max-width: 768px) {
    .lead__subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
        margin: 0 16px 40px 16px;
    }
}
