.cover {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 92px;
}
@media screen and (max-width: 768px) {
    .cover {
        margin-bottom: 88px;
    }
}
@media screen and (max-width: 320px) {
    .cover {
        margin-bottom: 65px;
    }
}