.lead__caption {
    align-self: flex-start;
    margin-top: 6px;
    margin-bottom: 92px;
}

@media screen and (max-width: 768px) {
    .lead__caption {
        margin-left: 24px;
        margin-bottom: 88px;
    }
    
}
@media screen and (max-width: 320px) {
    .lead__caption {
        font-weight: 400;
        font-size: 14px;
        line-height: 1;
        margin-left: 16px;
        margin-bottom: 64px;
    }

 }



