.cover__title {
    position: relative;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin:  245px 312px 32px 312px;
    text-align: center;
    width: 560px;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .cover__title {
        font-weight: 900;
        font-size: 72px;
        line-height: 76px;
        margin:  115px 104px 32px 104px;
    }
    
}