.footer__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 600px) {
    .footer__list {
        gap: 32px;
        flex-direction: column;
        margin-bottom: 48px;
    }
    
}
