.website__url-heading {
    color:#AAA;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.9;
    letter-spacing: 2px;
    margin: 0;
    margin-bottom: 12px;
}

@media screen and (max-width: 320px) {
    .website__url-heading {
        line-height: 1;
    }
}
