.place__website-url {
    color:#aaa;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 2px;
    margin: 0;
    margin-bottom: 9px;
}

@media screen and (max-width: 320px) {
    .place__website-url {
        line-height: 1;
        margin-bottom: 12px;
    }
}
