.intro__title {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.1;
}

@media screen and (max-width: 320px) {
    .intro__title {
        padding-right: 50px;
        font-size: 32px;
    }
}